@model BHI.SalesArchitect.WebAdmin.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
<style>
#login-screen .controls
{
    text-align:left;
    margin-left:230px;
}

</style>
<section id="loginForm">
  <hr class="signin-sep">
	        <div class="row">
        		<div class="span8 offset2 signin">
        			<h3>Please sign in:</h3>
        			<div class="well signin-box">
        			
        			<!--
        			
        			When validating the form, add the 'error' class from the control-group div 
        			and add the error message to the 'help-inline' span to display errors
        			
        			-->
                    @using (Html.BeginForm("Login","Account", new { returnUrl = ViewBag.ReturnUrl, isSecured = ViewBag.IsSecured, requestedCommunityID = ViewBag.requestedCommunityID, requestedPartnerID = ViewBag.requestedPartnerID }, FormMethod.Post, new { @class = "form-horizontal",@id="login-screen" }))
                    {
                          @Html.AntiForgeryToken()
                           if (!ViewData.ModelState.IsValid)
                           {
                           <div class="alert alert-error">
                               @ViewBag.ErrorMessage                                
                            </div>
                            } 
						  <div class="control-group error">
                            <label class="control-label" for="UserName">Username</label>
						    <div class="controls">
						       @Html.TextBoxFor(m => m.UserName)
						      <span class="help-inline">@Html.ValidationMessageFor(m => m.UserName)</span>
						    </div>
						  </div>
						  <div class="control-group error">
						   <label class="control-label" for="Password">Password</label>
						    <div class="controls">
						      @Html.PasswordFor(m => m.Password)
						      <span class="help-inline">@Html.ValidationMessageFor(m => m.Password)</span>
						    </div>
						  </div>
						  <div class="control-group">
						  	<div class="controls">
						      <button type="submit" class="btn btn-primary">Sign in</button>
						  	</div>
						  </div>
                    }
        			</div>
        		</div>
        	</div><!-- .row -->
</section>
 