@using BHI.SalesArchitect.Model
@model List<MasterPlan>
@{
    Layout = null;
}
<style>
    .associate-master-ui #plan-update {
        float: right;
    }

    .associate-master-ui .control-label {
        width: 130px !important;
    }

    .associate-master-ui .controls {
        text-align: left;
    }
</style>
@using (Html.BeginForm("AssociateMasterPlan", "Admin", FormMethod.Post))
{
    <div class="form-horizontal associate-master-ui">
        @Html.Hidden("communityID", ViewData["communityID"])
        <label id="errormessage1" style="color:red;font-weight:bold"></label>
        <div class="control-group">
            <label for="masterPlanId" class="control-label">
                Master Plan:
            </label>
            <div class="controls">
                <select id="masterPlanID" name="masterPlanID" , class="input-medium">
                    @foreach (var masterPlan in Model)
                    {
                        if (masterPlan.MapData == "selected")
                        {
                            <option value="@masterPlan.ID" selected="selected">@masterPlan.Name</option>
                        }
                        else
                        {
                            <option value="@masterPlan.ID">@masterPlan.Name</option>
                        }
                    }
                </select>
            </div>
        </div>
        <a style="cursor:pointer" id="expandeditPlan">Change selected plan name</a> <input type="submit" class="btn btn-primary" value="Update" id="plan-update" />
    </div>

    <div class="form-horizontal associate-master-ui" style="display:none" id="changemasterplanname">
        <br /><br />
        <label id="errormessage" style="color:red;font-weight:bold"></label>
        <div class="control-group">
            <label for="masterPlanId" class="control-label">
                New Master Plan:
            </label>
            <div class="controls">
                <input type="text" id="newPlanname" />
            </div>
        </div>
        <input type="button" class="btn btn-primary" value="Update Planname" id="planname-update" />
        <input type="button" class="btn btn-primary" value="Cancel" id="planname-cancel" />
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#expandeditPlan').click(function () {
            if ($('#masterPlanID').val() == 0) {
                $('#errormessage1').text('Please select "Master Plan".');
            } else {
                $('#masterPlanID').attr('disabled', true);
                $('#plan-update').attr('disabled', true);
                $('#changemasterplanname').css('display', '');
                $('#errormessage1').text('');
                $('#newPlanname').val('');
            }
            $('#errormessage').text('');
        });
        $('#planname-update').click(function () {
            var oldplanId = $('#masterPlanID').val();
            var newplanname = $('#newPlanname').val();
            if (newplanname == '') {
                $('#errormessage').text('Please enter a value in "New Master Plan" Field.');
            }
            else {
                $('#errormessage').text('');
                UpdateMasterPlanName(oldplanId, newplanname, $('#masterPlanID'));
            }
        });
        $('#planname-cancel').click(function () {
            $('#masterPlanID').attr('disabled', false);
            $('#plan-update').attr('disabled', false);
            $('#changemasterplanname').css('display', 'none');
            $('#errormessage1').text('');
            $('#newPlanname').val('');
        });
    });
</script>


