@using BHI.SalesArchitect.Model
@model Community
@using BHI.SalesArchitect.WebAdmin.Lib.Extensions
@using System.Web.Optimization;
@{
    Layout = null;
}
<style>
    .upload-error {
        color: #b94a48;
        text-align: left;
        display: none;
    }

    .upload-map-ui .control-label {
        width: 130px !important;
        padding-top: 0px;
    }

    .upload-map-ui .controls {
        text-align: left;
    }

    .upload-map-ui #file-upload {
        float: right;
    }

    input.help-inline {
        color: black;
    }
</style>
@section header {

    @Scripts.Render("~/bundles/jquery-2.0.2")
    @Scripts.Render("~/bundles/jqueryui-1.10.3")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/themes/base/css")

}

<script type="text/javascript">
    $(document).ready(function () {
        $("#LoadMapSubmit").validate({
            rules: {
                file: {
                    required: true,
                    extension: "svg"
                }
            },
            messages: {
                file: {
                    required: "Please upload a file",
                    extension: "Please choose a SVG file"
                }

            }
        });

        $('#choose-LoadMapfile').click(function () {
            $('#files').trigger('click');
        });

        $('#files').change(function () {
            var fileName = $(this).val();
            var arr = fileName.split("\\");
            if (arr.length > 0) {
                fileName = arr[arr.length - 1];
                $('#filePaths').val(fileName);
                if (fileName == '') {
                    $('#filePaths').css('display', 'none');
                }
                else {
                    $('#filePaths').css('display', '');
                }
            }
            else {
                $('#filePaths').val(fileName);
                $('#filePaths').css('display', 'none');
            }
            $("#LoadMapSubmit").valid();
        });
    });
</script>
@using (Html.BeginForm("LoadMap", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "LoadMapSubmit" }))
{
    <div class="form-horizontal upload-map-ui">
        <div class="control-group">
            @Html.Label("Community", new { @class = "control-label" })
            <div class="controls">
                <b>@Html.Label(Model.Name)</b>
                @Html.Hidden("communityID", Model.ID)
            </div>
        </div>
        <div class="control-group">
            <label for="LoadMapfile" class="control-label">
                Filename:
            </label>
            <div class="controls">
                <input type="button" class="btn btn-primary" value="Choose File" id="choose-LoadMapfile" />
                <input type="text" id="filePaths" style="display:none;width:225px" readonly="readonly" /><br />
                <input type="file" class="input-file" name="file" id="files" style="visibility:hidden;width:0px" />
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Upload" id="file-upload" />
    </div>
}
