@using BHI.SalesArchitect.WebAdmin.Models
@model GeoJSON
@using BHI.SalesArchitect.WebAdmin.Lib.Extensions
@using System.Web.Optimization;
@{
    Layout = null;
    var COMMUNITIES_GRID = "Communities";
}
<style>
    .upload-error {
        color: #b94a48;
        text-align: left;
        display: none;
    }

    .upload-map-ui .control-label {
        width: 130px !important;
        padding-top: 0px;
    }

    .upload-map-ui .controls {
        text-align: left;
    }

    .upload-map-ui #file-upload {
        float: right;
    }

    input.help-inline {
        color: black;
    }
</style>
@section header {

    @Scripts.Render("~/bundles/jquery-2.0.2")
    @Scripts.Render("~/bundles/jqueryui-1.10.3")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/themes/base/css")

}

<script type="text/javascript">

    function resetSaveLabel() {
        $("#confirmationMessage").removeClass("sucessfully-alert");
        $("#confirmationMessage").removeClass("unsucessfully-alert");
        $("#confirmationMessage").text("");
    }

    $(document).ready(function () {

        $('#choose-LoadGeoJsonfile').click(function () {
            hideErrorMessage();
            $('#geojsonfiles').trigger('click');
        });

        $('#geojsonfiles').change(function () {
            var fileName = $(this).val();
            var arr = fileName.split("\\");
            if (arr.length > 0) {
                fileName = arr[arr.length - 1];
                $('#geojsonFilePaths').val(fileName);
                if (fileName == '') {
                    $('#geojsonFilePaths').css('display', 'none');
                }
                else {
                    $('#geojsonFilePaths').css('display', '');
                }
            }
            else {
                $('#geojsonFilePaths').val(fileName);
                $('#geojsonFilePaths').css('display', 'none');
            }
            if ($('#geojsonfiles')[0].files[0].name.indexOf('.geojson') == -1) {
                showErrorMessage('Please choose a GeoJson file');
                return false;
            }
        });

        $('#TypeDropDown').change(function () {
            var selectedValue = $('#TypeDropDown').val();
            $.ajax({
                type: "POST",
                url: '/Admin/GetGeoJsonFileName?communityId=' + @Model.CommDetail.ID + '&selectedType=' + selectedValue,
                success: function (data) {
                    if (data != null && data != "") {
                        $('#fileNameLabel').css("display", "block");
                        $('#fileNameLabel').text("Last Uploaded: " + data);
                    } else {
                        $('#fileNameLabel').css("display", "none");
                    }
                }
            });
        });

        $.ajax({
            type: "POST",
            url: '/Admin/GetGeoJsonFileName?communityId=' + @Model.CommDetail.ID + '&selectedType=Parcels',
            success: function (data) {
                if (data != null & data != "") {
                    $('#fileNameLabel').css("display", "block");
                    $('#fileNameLabel').text("Last Uploaded: " + data);
                } else {
                    $('#fileNameLabel').css("display", "none");
                }
            }
        });

    });

    function showErrorMessage(msg) {
        var errorLabel = document.getElementById('errorMessage');
        errorLabel.style.display = 'block';
        errorLabel.innerText = msg;
    }

    function hideErrorMessage() {
        var errorLabel = document.getElementById('errorMessage');
        errorLabel.style.display = 'none';
    }

</script>
@using (Ajax.BeginForm("LoadGeoJson", "Admin", new AjaxOptions { HttpMethod = "POST" }, new { enctype = "multipart/form-data", id = "SubmitGeoJson" }))
{
    <div class="form-horizontal upload-map-ui">
        <div class="control-group">
            @Html.Label("Community", new { @class = "control-label" })
            <div class="controls">
                <b>@Html.Label(Model.CommDetail.Name)</b>
                @Html.Hidden("bdxCommunityID", Model.CommDetail.BDXID)
                @Html.Hidden("communityID", Model.CommDetail.ID)
            </div>
        </div>
        <div class="control-group">
            <label for="fileCategory" class="control-label" style="padding-top: 5px;">
                Category
            </label>
            <div class="controls">
                @Html.DropDownList("geojsonType",
             new SelectList(Enum.GetValues(typeof(GeoJsonType))),
             new { @class = "input-medium", id = "TypeDropDown" })
            </div>
        </div>
        <div class="control-group">
            <label for="LoadGeoJsonfile" class="control-label" style="padding-top: 5px;">
                Filename
            </label>
            <div class="controls">
                <input type="button" class="btn btn-primary" value="Choose File" id="choose-LoadGeoJsonfile" />
                <input type="text" id="geojsonFilePaths" style="display:none;width:225px" readonly="readonly" /><br />
                <label style="font-size:12px; font-style:italic; padding-top: 3px; display:none;" id="fileNameLabel"></label><br />
                <label class="error" id="errorMessage" style="display:none;"></label>
                <input type="file" class="input-file" name="file" id="geojsonfiles" style="visibility:hidden;width:0px;height:0px;" />
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Upload" id="file-upload" />
    </div>
}