@model BHI.SalesArchitect.WebAdmin.Models.HolALotRequest
<style>
    .validation-summary-errors {
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 2px rgba(0, 0, 0, .05);
        padding: 8px 35px 8px 14px;
        margin-bottom: 20px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .custom-alert-card-wrapper {
        background: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99999;
        display: none;
    }

    .custom-alert-card {
        width: 300px;
        padding: 30px;
        position: relative;
        border-radius: 4px;
        text-align: center;
        background: #fafafa;
        border: 1px solid #ccc;
        letter-spacing: 0.5px;
    }

    .custom-alert-card__title {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .custom-alert-card__desc {
        font-size: 18px;
        margin: 0 0 20px;
    }

    .custom-alert-card__btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        min-width: 100px;
        font-size: 16px;
        cursor: pointer;
        background: #3d688b;
        color: white;
    }
    .holdalot #hldComments {
        width: 95%;
        height: 70px;
    }
</style>

<div class="custom-alert-card-wrapper" id="backgroundhld">
    <div class="custom-alert-card" id="myResponseModal">
        <h2 class="custom-alert-card__title">Thank You!</h2>
        <p class="custom-alert-card__desc">Your request to hold the lot has been submitted. <br> Our Representative will contact you shortly.</p>
        <button class="custom-alert-card__btn" id="closehld">Okay</button>
    </div>
</div>

<div id="holdALotModal" class="modal fade hide holdalot" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        @using (Html.BeginForm("Index", "SiteOverview", FormMethod.Post, new { @id = "holdALotForm", @class = "form-inline" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-rt close-hold-modal" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@ViewBag.HoldALotHeaderText</h4>
                    <div id="isp-hold-lot-description" class="isp-hold-lot-desc">
                        @ViewBag.BuilderDescription
                    </div>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div>
                        <div class="row-fluid">
                            <div class="control-group span6">
                                <label class="control-label">First Name</label>
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.FirstName, new { @placeholder = "* First Name", id = "hldfirstName" })
                                </div>
                            </div>
                            <div class="control-group span6">
                                <label class="control-label">Last Name</label>
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.LastName, new { @placeholder = "* Last Name", id = "hldlastName" })
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group span6">
                                <label class="control-label">Phone Number</label>
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.PhoneNumber, new { @placeholder = "* Phone Number", id = "hldPhoneNumber" })
                                </div>
                            </div>
                            <div class="control-group span6">
                                <label class="control-label">Email Address</label>
                                <div class="controls">
                                    @Html.TextBoxFor(x => x.EmailAddress, new { @placeholder = "* Email Address", id = "hldEmailAddress" })
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="control-group">
                                <label class="control-label">Comments</label>
                                <div class="controls">
                                    @Html.TextAreaFor(x => x.Comments, new { rows = "2", placeholder = "Add Comments", id = "hldComments" })
                                </div>
                            </div>
                        </div>
                        <div class="isp-form-row">
                            <div class="isp-form-group isp-hold-info">
                                *Submission of this request does not guarantee the ability to buy the property listed.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-loading-text="Submitting..." style="outline:none;">Submit</button>
                    <button type="button" class="btn btn-default close-hold-modal" data-dismiss="modal" style="outline:none;">Close</button>
                </div>
            </div>
        }
    </div>
</div>
<script>
    var description = '@HttpUtility.JavaScriptStringEncode(ViewBag.BuilderDescription)';
    if (description != null) {
        description = description.replace(/&quot;/g, '\"');
    }
    var closehld = document.getElementById("closehld");
    var backgroundhld = document.getElementById("backgroundhld");

    function showSuccessModelHLD() {
        backgroundhld.style.display = "flex";
    }

    closehld.onclick = function () {
        backgroundhld.style.display = "none";
    }

    var ajaxCallStatus = {
        Accepted: 1,
        Error: 2
    }
    $('#holdALotForm').on('submit', function (e) {
        e.preventDefault();
        if ($('#holdALotForm').valid()) {
            var formValues = $('form').serializeArray();
            $('.btn.btn-primary').button('loading');
            $('.validation-summary-errors').find('li').css('display', 'none');
            $('.validation-summary-errors').addClass('validation-summary-valid').removeClass('validation-summary-errors');
            var comments = holdALotInternalReference;
            var userComments = document.getElementById('hldComments').value;
            if (userComments != null && userComments.trim() != "") {
                comments = comments + " - " + userComments;
            }
            var prospectModel = {
                FirstName: document.getElementById('hldfirstName').value,
                LastName: document.getElementById('hldlastName').value,
                EmailAddress: document.getElementById('hldEmailAddress').value,
                PhoneNumber: document.getElementById('hldPhoneNumber').value,
                Comments: comments,
                CommunityID: '@ViewBag.BDXCommunityID',
                partnerID: '@ViewBag.PartnerID',
                Platform: 5, HoldaLot: true,
                LotId: holdALotInternalReference,
                BuilderEmail: '@ViewBag.BuilderEmail',
                isMobileLead: false,
                BuilderID: '@ViewBag.BuilderID',
                SiteUrl: window.location.href
            };
            $.ajax({
                url: window.location.origin + '/api/ProspectLead/SubmitLead',
                type: 'post',
                data: prospectModel,
                success: function (data) {
                    $('#holdALotModal').modal('toggle');
                    document.getElementById('holdALotForm').reset();
                    showSuccessModelHLD();
                    $('.btn.btn-primary').button('reset');
                    logGAEvent("Hold-a-Lot", "ISP", holdALotInternalReference);
                },
                error: function (data) {
                    saveUnsuccessful();
                    $('.btn.btn-primary').button('reset');
                }
            })
        }
    });
    $('#myModal').on('hidden.bs.modal', function () {
        $('.validation-summary-errors').addClass('validation-summary-valid').removeClass('validation-summary-errors').find('li').remove();
        document.getElementById('requestForm').reset();
        $('.btn.btn-primary').button('reset');
    });
    $(document).ready(function () {
        document.getElementById('isp-hold-lot-description').innerText = description;
    });
    $(".close-hold-modal").on('click', function () {
        logGAEvent("Hold-a-Lot", "ISP", "popup-close_HL");
    });

</script>
