@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Mvc;
@using System.Security.Claims;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesArchitect</title>
    @RenderSection("Styles", required: false)
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/jqueryui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/lib/bootstrap-modal/css/bootstrap-modal.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/css/header.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/toast.css" rel="stylesheet" asp-append-version="true" />




    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-modal/js/bootstrap-modal.min.js" asp-append-version="true"></script>
    <script src="~/js/common/common.js" asp-append-version="true"></script>
    <script src="~/lib/ckeditor5/ckeditor.min.js" asp-append-version="true"></script>
</head>
<body class="container-fluid">
    <h1 class="branding"><a class="ir logo" href="/">Sales Architect</a></h1>
    <ul id="header">
    @if(User.Identity.IsAuthenticated)
    {
        <li>Hello, <span id="header-username">@User.Identity.Name</span></li>
        <li><a href="/HelpDocuments">Help</a></li>
        @if (User.HasClaim(ClaimTypes.Role, "BHIADMIN"))
        {
            <li><a asp-controller="NewHomeNavigator" asp-action="Index">New Home Navigator</a></li>
        }@if (!User.HasClaim(ClaimTypes.Role, "LOTSTATUSEDITOR"))
        {
            <li><a asp-controller="UserManagement" asp-action="Index">Manage Users</a></li>
        }
        @if (!User.HasClaim(ClaimTypes.Role, "PARTNERREADONLY") && !User.HasClaim(ClaimTypes.Role, "LOTSTATUSEDITOR") && !User.HasClaim(ClaimTypes.Role, "PARTNERADMIN"))
        {
            <li><a asp-controller="PartnerConfiguration" asp-action="Index">Partner Configuration</a></li>
        }
        @if (User.HasClaim(ClaimTypes.Role, "BHIADMIN"))
        {
            <li ><a asp-controller="PartnerAdministration" asp-action="Index">Manage Partners</a></li>
        } 
        <li id="logoutLink">
            <form asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" style="float:right;">
                @Html.AntiForgeryToken()
                <a asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>
            </form>
        </li>
    }
    </ul>
        @RenderSection("Modals", required: false)

    <main role="main" class="container-fluid">
        @RenderBody()
        @RenderSection("Scripts", required: false)
    </main>   

</body>
</html>

