@using BHI.SalesArchitect.Core.Constants;
@using Microsoft.AspNetCore.Authentication.Cookies;
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Mvc;
@using System.Security.Claims;
@using static BHI.SalesArchitect.Core.Enumerations.CommonEnumerations;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesArchitect</title>
    @RenderSection("Styles", required: false)
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/jqueryui/themes/smoothness/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link href="~/lib/bootstrap-modal/css/bootstrap-modal.min.css" rel="stylesheet" asp-append-version="true" />*@
    <link href="~/css/header.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/toast.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/loader.css" rel="stylesheet" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-modal/js/bootstrap-modal.min.js" asp-append-version="true"></script>
    <script src="~/js/common/common.js" asp-append-version="true"></script>
    <script src="~/lib/ckeditor5/ckeditor.min.js" asp-append-version="true"></script>
</head>
<body class="container-fluid">
    <h1 class="branding">
        <a class="logo-link" href="/">
            <img class="logo" src="~/content/images/logo.png" alt="Sales Architect">
        </a>
    </h1>
    <div id="universal-loader" class="loader"></div>
    <div id="overlay" class="overlay"></div>
    <partial name="_Toast" />
    <ul id="header">
        @if (User.Identity.IsAuthenticated)
        {
            <li>Hello, <span id="header-username">@User.Identity.Name</span></li>
            <li><a href="/HelpDocuments">Help</a></li>
            @if (User.IsInRole(Roles.BHIADMIN))
            {
                @* <li><a asp-controller="NewHomeNavigator" asp-action="Index">New Home Navigator</a></li> *@
            }
            @if (!User.IsInRole(Roles.LOTSTATUSEDITOR))
            {
                <li><a asp-controller="UserManagement" asp-action="Index">Manage Users</a></li>
            }
            @if (User.IsInRole(Roles.PARTNERSUPERADMIN) || User.IsInRole(Roles.BHIADMIN))
            {
                <li><a asp-controller="PartnerConfiguration" asp-action="Index">Partner Configuration</a></li>
            }
            @if (User.IsInRole(Roles.BHIADMIN))
            {
                <li><a asp-controller="PartnerAdministration" asp-action="Index">Manage Partners</a></li>
            }
            <li id="logoutLink">
                @Html.AntiForgeryToken()
                <a asp-area="" asp-controller="Account" asp-action="LogOut">Log Out</a>
            </li>
        }
    </ul>

    <main role="main" class="container-fluid">
        @RenderBody()
        @RenderSection("Scripts", required: false)
        @RenderSection("Modals", required: false)
    </main>
</body>
</html>

