@using System.Web.Optimization
@using BHI.SalesArchitect.Model
@model BHI.SalesArchitect.WebAdmin.Models.SiteOverview
@{
    Layout = null;
    var TopNavigationBar = Model.PartnerSettings.FirstOrDefault(x => x.Key.Equals(BHI.SalesArchitect.Core.Enumerations.PartnerSettingsKey.TopNavigationBar));
    var TopNavigationBarText = Model.PartnerSettings.FirstOrDefault(x => x.Key.Equals(BHI.SalesArchitect.Core.Enumerations.PartnerSettingsKey.TopNavigationBarText));
    var LotDetailHeaderBarGradientColor = Model.SiteMapConfigurations.FirstOrDefault(x => x.Configuration.Code.Equals("SMPCLR_Lot Detail Info Bar Gradient")) != null ? Model.SiteMapConfigurations.FirstOrDefault(x => x.Configuration.Code.Equals("SMPCLR_Lot Detail Info Bar Gradient")).Value : "";
    var LotDetailHeaderBarColor = Model.SiteMapConfigurations.FirstOrDefault(x => x.Configuration.Code.Equals("SMPCLR_Lot Detail Info Bar")) != null ? Model.SiteMapConfigurations.FirstOrDefault(x => x.Configuration.Code.Equals("SMPCLR_Lot Detail Info Bar")).Value : "";
    var LotDetailHeaderBarTextColor = Model.SiteMapConfigurations.FirstOrDefault(x => x.Configuration.Code.Equals("SMPCLR_Lot Detail Info Bar Text")) != null ? Model.SiteMapConfigurations.FirstOrDefault(x => x.Configuration.Code.Equals("SMPCLR_Lot Detail Info Bar Text")).Value : "";
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
    var lotData = serializer.Serialize(Model.LotData);
    var defaultListingData = serializer.Serialize(Model.DefaultListingData);
    var legends = serializer.Serialize(Model.Legends);
    var popup = serializer.Serialize(Model.PopupConfiguration);
    var configs = serializer.Serialize(Model.Legends);
    var svgHiddenBlocks = serializer.Serialize(Model.HiddenBlocks);
    var svgHiddenLotConfigs = serializer.Serialize(Model.HiddenLotConfigs);
    var HoldALotButtonText = serializer.Serialize(Model.HoldALotButtonText);
    #region Referrer check for kiosk
    var isDownloadEnabled = true;
    var isViewMoreDetailsBtn = true;
    var isHotspotBtn = true;
    var openLinkInModal = false;
    Uri referrer = HttpContext.Current.Request.UrlReferrer;
    Uri url = HttpContext.Current.Request.Url;
    if (referrer != null)
    {
        string original = referrer.OriginalString.ToLower();
        isDownloadEnabled = isViewMoreDetailsBtn = isHotspotBtn = !original.Contains("kiosk");
    }
    if (url != null)
    {
        var viewmoreDetailsParam = HttpUtility.ParseQueryString(url.Query).Get("isViewMoreDetailsBtn");
        if (viewmoreDetailsParam != null)
        {
            isViewMoreDetailsBtn = viewmoreDetailsParam.ToLower().Equals("true") ? true : (viewmoreDetailsParam.ToLower().Equals("false") ? false : isViewMoreDetailsBtn);
        }
        var hotspotButtonParam = HttpUtility.ParseQueryString(url.Query).Get("DisplayHotspotsOnKiosks");
        if (hotspotButtonParam != null)
        {
            isHotspotBtn = hotspotButtonParam.ToLower().Equals("true") ? true : (hotspotButtonParam.ToLower().Equals("false") ? false : isHotspotBtn);
        }
        var linkParam = HttpUtility.ParseQueryString(url.Query).Get("openLinkInModal");
        if (linkParam != null)
        {
            openLinkInModal = linkParam.ToLower().Equals("true") ? true : (linkParam.ToLower().Equals("false") ? false : openLinkInModal);
        }
    }
    ViewBag.GoogleAnalyticsID = "UA-197852520-1";
    #endregion
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta id="metaviewport" name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="MobileOptimized" content="1800">
    <title>@Model.Community.Name</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    @Html.Partial("Partials/_googleAnalytics")
    @Styles.Render("~/Content/CommonCss")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/newsiteoverview")
    @Scripts.Render("~/bundles/knockout")
    <style>
        svg {
            -webkit-tap-highlight-color: rgba(0,0,0,0);
        }
    </style>
    @Styles.RenderFormat("<link rel='stylesheet' defer='defer' href='{0}' />", "~/Content/themes/LightGallery/css/DeferredCss")
    @Styles.RenderFormat("<link rel='stylesheet' defer='defer' href='{0}' />", "~/Content/OtherDeferredCss")
    @Scripts.Render("~/bundles/newsiteoverview")
    @Scripts.Render("~/bundles/bhi.salesarchitect")
    @Scripts.RenderFormat("<script src='{0}' defer='defer'></script>", "~/bundles/validational")
    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/bundles/defferredOverviewScripts")
    @if (!String.IsNullOrEmpty(Model.SelectedLotID))
    {
        <script type="text/javascript">
            var selectedLotID=@Model.SelectedLotID;
        </script>
    }
    <script type="text/javascript">
        var isDownloadEnabled = '@(isDownloadEnabled.ToString().ToLower())' == 'true' ? true : false;
        var isViewMoreDetailsBtn = '@(isViewMoreDetailsBtn.ToString().ToLower())' == 'true' ? true : false;
        var isHotspotBtn = '@(isHotspotBtn.ToString().ToLower())' == 'true' ? true : false;
        var holdALotInternalReference = '';
        var isHoverAllowed = '@Model.IsHoverAllowed' == 'True' ? true : false;
        var openLinkInModal = '@(openLinkInModal.ToString().ToLower())' == 'true' ? true : false;
        var color = function (id, value, hiddenId, name, communityId, configurationId, code, status, key, partnerID, category) {
            var self = this;
            self.ID = id;
            self.Status = status;
            self.Code = code;
            self.CommunityID = communityId;
            self.Name = name;
            self.Value = value;
            self.HiddenId = hiddenId;
            self.Configuration = { ID: configurationId };
            self.key = key;
            self.partnerID = partnerID;
            self.category = category;
            self.ConfigurationID = configurationId;
        };

        var viewConfiguration =
        {
            communityConfiguration: ko.observableArray()
        }
        var holdALotVal = '@ViewBag.HoldALot';
        var holdALot = holdALotVal.toUpperCase() == 'TRUE' ? true : false;
        var data = @Html.Raw(configs);
        var defaultBase64Image = 'data:image/gif;base64,R0lGODdhAQABAPAAAMPDwwAAACwAAAAAAQABAAACAkQBADs=';
        var refresh = true;
        var initialMinRange;
        var initialMaxrange;
        var dragging = false;
        var isSwipeBoxOpen=false;
        var requestButtonAllowed = '@Model.RequestInfoModal' == "true" || '@Model.RequestInfoModal' == "True"?true:false;
        var lots = @Html.Raw(lotData);
        var defaultListings = @Html.Raw(defaultListingData);
        var legends =@Html.Raw(legends);
        var popup = @Html.Raw(popup);
    var requestModel=requestButtonAllowed;
        var manager = null;
        var filterClick = false;
        var showAllPlansSection = @Html.Raw(Json.Encode(Model.showAllPlans));
        var sendLotIds = @Html.Raw(Json.Encode(Model.SendLotIds));
        var enableUnreleased = @Html.Raw(Json.Encode(Model.EnableHoverClickForUnreleased));
        var suppressPrice = @Html.Raw(Json.Encode(Model.SuppressPrice));
        var svgHiddenBlocks = @Html.Raw(svgHiddenBlocks);
        var svgHiddenLotConfigs = @Html.Raw(svgHiddenLotConfigs);
        var HoldALotButtonText = @Html.Raw(HoldALotButtonText);
        var newIsp = true;
        function resetSaveLabel() {
            $("#confirmationMessage").removeClass("sucessfully-alert");
            $("#confirmationMessage").removeClass("unsucessfully-alert");
            $("#confirmationMessage").text("");
        }
        function saveSuccessful() {
            resetSaveLabel();
            $("#confirmationMessage").addClass("sucessfully-alert");
            $("#confirmationMessage").text("Your request was sent. Thank you!");
            $("#confirmationMessage").show();
            $("#confirmationMessage").fadeIn("1000").delay(2000).fadeOut('1500').hide(0);
        }
        function saveUnsuccessful() {
            resetSaveLabel();
            $("#confirmationMessage").addClass("unsucessfully-alert");
            $("#confirmationMessage").fadeIn("1000").delay(2000).fadeOut('1500').hide(0);
            $("#confirmationMessage").text("Save operation not completed");
            $("#confirmationMessage").show();
        }
        function setLotholdALot(e) {
            logGAEvent("Hold-a-Lot", "ISP", "popup-open_HL");
            holdALotInternalReference = e.dataset.internalreference;
        }

        function setGAEvent() {
            requestInfoSource = "Lot";
            logGAEvent("Request-Info-lot", "ISP", "Request-info-popup-open_l");
        }

        function setRightGAEvent() {
            requestInfoSource = "Right";
            logGAEvent("Request-Info-right", "ISP", "Request-info-popup-open_r");
        }

        function openExternalLinkInModal(e) {
            document.getElementById('isp-external-link-iframe').setAttribute('src', e.dataset.link);
            document.getElementById('external-link-div').style.display = 'block';
        }
        $(document).ready(function () {
            var instance = $('img.lazy').lazy({
                visibleOnly: true,
                effect: 'fadeIn',
                skip_invisible: true
            });
            $("[id^=collapse1]").on('shown.bs.collapse', function () {
                var instances = $('img.lazy').lazy({
                    visibleOnly: true,
                    effect: 'fadeIn',
                    skip_invisible: true
                });
            }).on('show.bs.collapse', function () {
                console.log("show");
            });
            $('.galleryEffect').lightGallery({
                mode: 'lg-slide-circular',
                download :isDownloadEnabled
            })
            FastClick.attach(document.body);
            manager = new BHI.SalesArchitectOnePage.Manager(lots, defaultListings, legends, requestModel, showAllPlansSection, popup, sendLotIds, enableUnreleased, suppressPrice, svgHiddenBlocks, svgHiddenLotConfigs, HoldALotButtonText);
            manager.initialize();
            if (typeof selectedLotID !== 'undefined') {
                manager.highlightLot(selectedLotID);
            }
            initFilterUI();
            initSlidingPanel();
            $(".filter-main-container").on('click',function(event){
                event.stopImmediatePropagation();
            });

            var mvp = document.getElementById('metaviewport');
            if (!(/Android/i.test(navigator.userAgent)) || ((/Android/i.test(navigator.userAgent)) && $(window).width() > 768)) {
                mvp.setAttribute('content', 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no');
                $('html').css({ 'touch-action': 'none', '-ms-touch-action': 'none' });
            } else {
                mvp.setAttribute('content', 'width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes');
                $('.mapButtonBar').css("display", "none");
            }

            $('#allPlansTab').html(popup['ISP2_RGTPNL_ALLPLANS']);

        });
        $(document).on('click','.OpenUrl',function(){
            var left = (screen.width - 840) / 2;
            var top = (screen.height - 600) / 2;
            window.open($(this).attr('url'),'Listings','width=840,height=600,top='+top+',left='+left+',resizable=yes');
        });
        function querystring(key) {
            var re = new RegExp('(?:\\?|&)' + key + '=(.*?)(?=&|$)', 'gi');
            var r = [],
                m;
            while ((m = re.exec(document.location.search)) != null) r.push(m[1]);
            return r;
        }
        if (querystring("isDownloadEnabled").length > 0) {
            isDownloadEnabled = querystring("isDownloadEnabled").length > 0 && (querystring("isDownloadEnabled")[0].toLowerCase() == 'true') ? true : false;
        }
        if (querystring("isViewMoreDetailsBtn").length > 0) {
            isViewMoreDetailsBtn = querystring("isViewMoreDetailsBtn").length > 0 && (querystring("isViewMoreDetailsBtn")[0].toLowerCase() == 'true') ? true : false;
        }
        if (querystring("DisplayHotspotsOnKiosks").length > 0) {
            isHotspotBtn = querystring("DisplayHotspotsOnKiosks").length > 0 && (querystring("DisplayHotspotsOnKiosks")[0].toLowerCase() == 'true') ? true : false;
        }
        if (querystring("openLinkInModal").length > 0) {
            openLinkInModal = querystring("openLinkInModal").length > 0 && (querystring("openLinkInModal")[0].toLowerCase() == 'true') ? true : false;
        }
        /*slick slider*/
        $(document).ready(function () {
            if ($(window).width() < 481) {
                var value = $(window).height() - $('#main-footer').height() - 120;
                $('.newisp-page .tab-content').css('max-height', value + 'px');
            }
            $(window).on("resize", function (e) {
                checkScreenSize();
            });

            checkScreenSize();

        function checkScreenSize(){
            var newWindowWidth = $(window).width();
            if (newWindowWidth < 481) {
                var activeSlide = $(document).find('.collapse.in');
                activeSlide.removeClass('in');
                $('#allPlans').slick({
                    slidesToShow: 1,
                    arrows: true,
                    infinite: false
                 });
                 $('#availablePlans').slick({
                    slidesToShow: 1,
                    arrows: true,
                    infinite: false
                 });
            }else{
                try {
                    $('#allPlans').slick('unslick');
                    $('#availablePlans').slick('unslick');
                } catch (e) {
                    console.log('Unable to unslick! This is not an error, this is just a log.')
                }
            }

            var check = false;

            $('#allPlans').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                var activeSlide = $(document).find('.slick-current.slick-active');
                var Section = activeSlide.find('.panel-collapse.collapse')
                if (Section.hasClass('in')) {
                    check = true;
                } else {
                    check = false;
                }
            });

            $('#allPlans').on('afterChange', function (event, slick, currentSlide) {
                if (check) {
                    var activeSlide = $(document).find('.collapse.in');
                    activeSlide.removeClass('in');

                    var activeSlide = $(document).find('.slick-current.slick-active');
                    var Section = activeSlide.find('.panel-collapse.collapse');
                    Section.addClass('in');
                }
            });

            $('#availablePlans').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                var activeSlide = $(document).find('.slick-current.slick-active');
                var Section = activeSlide.find('.panel-collapse.collapse')
                if (Section.hasClass('in')) {
                    check = true;
                } else {
                    check = false;
                }
            });

            $('#availablePlans').on('afterChange', function (event, slick, currentSlide) {
                if (check) {
                    var activeSlide = $(document).find('.collapse.in');
                    activeSlide.removeClass('in');

                    var activeSlide = $(document).find('.slick-current.slick-active');
                    var Section = activeSlide.find('.panel-collapse.collapse');
                    Section.addClass('in');
                }
            });
        }
        });

        window.location.hash = '';


        /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>
    <style>
        html {
            -ms-content-zooming: none;
            /*-ms-touch-action: pan-x pan-y;*/
            /*-ms-touch-action: none;*/
            /*touch-action: none;*/
            -ms-scroll-chaining: none;
        }

        .right-sidebar {
            position: absolute;
            width: 100%;
            box-sizing: border-box;
        }

        @@media (max-width:823px) and (min-width:320px) and (orientation: landscape) {
            .right-sidebar {
                position: absolute;
                height: calc(100% - 34px);
                overflow-y: auto;
            }
        }
    </style>
    @if (LotDetailHeaderBarColor != "" && LotDetailHeaderBarGradientColor != "")
    {
        <style>
            #panelTopInfo {
                background-image:linear-gradient(@(LotDetailHeaderBarColor),@(LotDetailHeaderBarGradientColor)) !important;
            }
        </style>
    }
    @if (LotDetailHeaderBarTextColor != "")
    {
        <style>
            #topPaneHeader,#topPaneSub, #default-text, .block-info-panel, .column-info-next > div ,.column-info-next >span , #topPaneDefaultText{
                color:@LotDetailHeaderBarTextColor !important
            }
        </style>
    }
</head>

<body class="newisp-page">
    @if (Model.RequestInfoModal)
    {
        @Html.Partial("Partials/_modal", new BHI.SalesArchitect.WebAdmin.Models.ProspectLead() { CommunityID = Model.Community.ID, IsZipCodeRequired = Model.IsZipCodeRequired, partnerID = Model.PartnerID })
    }
    @Html.Partial("Partials/_HoldALotRequest", new BHI.SalesArchitect.WebAdmin.Models.HolALotRequest() { CommunityID = Model.Community.ID, IsZipCodeRequired = Model.IsZipCodeRequired, partnerID = Model.PartnerID })
    <div id="int-media-div" style="display:none;">
        @Html.Partial("Partials/_interactiveMedia")
    </div>
    <div id="external-link-div" style="display:none;">
        @Html.Partial("Partials/_externalLink")
    </div>
    <div id="confirmationMessage" class="save-result"></div>
    <input type="hidden" id="newIsp" value="@Model.NewIsp.ToString()" />
    <div class="fTable fConsumeAll">

        <div class="fTableRow">
            <div class="fTableCell fConsumeAll">
                <div class="fConsumeAll refPosition">
                    <div id="mainPanel" class="fLeft fConsumeAll">
                        <div class="fTable fConsumeAll">
                            <div class="fTableRow barBaseDimension" style="display:none;">
                                <div class="fTableCell barBaseDimension">
                                    <div id="panelTopInfo" class="panelTopInfo">
                                        <div class="panelTopInfoContent">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <button class="cButton" id="toggleTopPaneButton">
                                                            <i class="icon icon-arrowdown"></i>
                                                        </button>
                                                    </td>
                                                    <td class="top-panel-header-width">
                                                        <div id="topPaneHeader">
                                                        </div>
                                                        <div id="topPaneSub">
                                                        </div>
                                                    </td>
                                                    <td class="top-panel-width">
                                                        <div id="topPaneInfo">
                                                        </div>
                                                        <div id="topPaneDefaultText">
                                                            Tap a homesite below or choose a plan at right
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fTableRow fConsumeAll">
                                <div class="fTableCell fConsumeAll mapPanel">
                                    <div class="mapContent" style="position:relative;">
                                        @if (Model.ShowHomesiteFilter && Model.ShowHomesiteFilterForCommunity)
                                        {
                                            <div class="homesite-filter">
                                                <a href="#" onclick="myFunction()" class="refine_button"><i class="fa fa-filter"></i><span>@Model.PopupConfiguration["ISP2_POPUP_HOMESITE"] Status</span></a>
                                                <div id="myDropdown" class="refine_dropdown">
                                                    <a href="#" class="close-refine" id="close-refine-button">×</a>
                                                    <ul class="homesite_status" id="lotColorScheme" data-bind="template: { name: 'configuration-template', foreach: communityConfiguration }"></ul>
                                                    <script type="text/html" id="configuration-template">
                                                        <!-- ko if: Code.indexOf("SPSTSCLR") !== -1 && Status === "ACTIVE" -->
                                                        <li><input type="checkbox" class="homesite_filter" data-bind="value: Name" name="homesite_filter"><span data-bind="text: Name"></span> <span class="status" data-bind="style:{backgroundColor: Value}"></span></li>
                                                        <!-- /ko -->
                                                    </script>
                                                    <div class="buttons">
                                                        <a href="#" class="action_btn reset" id="resetHomesiteFilter">Clear</a><a href="#" class="action_btn apply" id="applyHomesiteFilter">Apply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <!-- START MAP PANEL CONTENT //-->
                                        <div id="mapData" style="display: block">
                                            <div class="mapButtonBar">
                                                <div class="slider-map" style="position: absolute; left: 0;width: inherit;top: 179px;">
                                                    <input id="svgslider" type="text" data-slider="true" data-slider-vertical="true"
                                                           data-slider-range="1,5" />
                                                </div>
                                                <div class="btn-map">

                                                    <button id="resetSVG" title="Reset" style=" background: #3d688b !important; box-shadow:none !important;">
                                                        <i class="fa fa-undo" aria-hidden="true" style="color:#fff !important; font-size: 18px;"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            @Html.Raw(Model.MapData)
                                        </div>
                                        <!-- END MAP PANEL CONTENT //-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sa-loading-bar" style="display:none">
        <div class="sa-loading-info">
            <img src="~/Content/images/pdfloading.svg" />
            <p class="loading-text">Generating PDF...</p>
        </div>
    </div>

    @*Refine Filter popup*@
    <div class="filter-main-container filter-main-container-2" role="menu" aria-labelledby="dLabel">
        <div class="filter-row">
            <div class="filter-left-column">
                Inventory:
            </div>
            <div class="filter-right-column  inventory-check custom-checkbox">
                <input type="checkbox" class="isSpecHome" name="isSpecHome" id="isSpecHome" />
                <label for="isSpecHome">
                </label>
                <img src="../../Content/images/key-icon.png" width="16" />
            </div>
        </div>
        <div class="filter-row " id="isp-filter-price">
            <div class="filter-left-column price-row">
                Price:
            </div>
            <div class="filter-right-column filter-price-range">
                <div id="slider-range">
                </div>
                <input type="text" id="amount" readonly style="border: 0; color: #f6931f; font-weight: bold;">
            </div>
        </div>
        <div class="filter-row ">
            <div class="filter-left-column">
                Bedrooms:
            </div>
            <div class="filter-right-column badroom-label-btn">
                <input type="radio" id="bd-any" value="-1" data-bind="checked: numberOfBed" name="badroomNo"
                       checked="checked">
                <label for="bd-any">
                    Any
                </label>
                <input type="radio" id="bd1" value="1" data-bind="checked: numberOfBed" name="badroomNo"
                       disabled="disabled">
                <label for="bd1" class="disable-btn">
                    1+
                </label>
                <input type="radio" id="bd2" value="2" data-bind="checked: numberOfBed" name="badroomNo"
                       disabled="disabled">
                <label for="bd2" class="disable-btn">
                    2+
                </label>
                <input type="radio" id="bd3" value="3" data-bind="checked: numberOfBed" name="badroomNo"
                       disabled="disabled">
                <label for="bd3" class="disable-btn">
                    3+
                </label>
                <input type="radio" id="bd4" value="4" data-bind="checked: numberOfBed" name="badroomNo"
                       disabled="disabled">
                <label for="bd4" class="disable-btn">
                    4+
                </label>
            </div>
        </div>
        <div class="filter-row">
            <div class="filter-left-column">
                Bathrooms:
            </div>
            <div class="filter-right-column badroom-label-btn">
                <input type="radio" id="bth-any" name="bathroomNo" value="-1" checked="checked">
                <label for="bth-any">
                    Any
                </label>
                <input type="radio" id="bth1" name="bathroomNo" value="1" disabled="disabled">
                <label for="bth1" class="disable-btn">
                    1+
                </label>
                <input type="radio" id="bth2" name="bathroomNo" value="2" disabled="disabled">
                <label for="bth2" class="disable-btn">
                    2+
                </label>
                <input type="radio" id="bth3" name="bathroomNo" value="3" disabled="disabled">
                <label for="bth3" class="disable-btn">
                    3+
                </label>
                <input type="radio" id="bth4" name="bathroomNo" value="4" disabled="disabled">
                <label for="bth4" class="disable-btn">
                    4+
                </label>
            </div>
        </div>
        <div class="filter-row btn-row">
            <input type="button" value="Clear" class="filter-btn" id="cancelFilter" />
            <input type="button" value="Apply" class="filter-btn filter-apply-btn" id="applyFilter" />
        </div>
    </div>
    @if (Model.ShowBottomBar)
    {
        <div class="main-footer" id="main-footer">
            <div class="fleft com-name">
                <h3>@Model.Community.Name</h3> <span class="seperator">|</span>
                <div class="dropup">
                    @if (@Model.OtherCommunities != null && Model.OtherCommunities.Count() > 0)
                    {
                        <a class="btn btn-primary dropdown-toggle" href="#" data-toggle="dropdown" style="outline:none;">
                            Change Community
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">

                            @foreach (var c in @Model.OtherCommunities)
                            {
                                if (c.NewIsp)
                                {
                                    <li>@Html.ActionLink(c.Name, "NewIsp", "SiteOverview", new { partnerID = @Model.PartnerID, siteID = @c.SiteID }, new { @class = "masterplan-data" })</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink(c.Name, "Index", "SiteOverview", new { partnerID = @Model.PartnerID, siteID = @c.SiteID }, new { @class = "masterplan-data" })</li>
                                }

                            }

                        </ul>
                    }
                </div>
            </div>
            <div class="fright footer-buttons">
                @if (@Model.OtherCommunities != null)
                {
                    <a href='@Url.Action("NewISP", "SiteMapPreview", new { communityID = Model.Community.ID, masterSiteID = Model.Community.MasterPlanID })' class="footer-btn btn">
                        <img src="../../Content/images/ic_masterplan.png" /> Master Plan
                    </a>
                }
                <ol class="footer-ul">
                    <li id="getPdf"> <i title="Download Pdf" class="fa fa-file-pdf-o" aria-hidden="true" style="font-size:18px; color:#fff;"></i></li>
                    @*@if (Model.RequestInfoModal)
                        {
                            <button title="Request Info" data-toggle="modal" data-target="#myModal">
                                <img style="padding: 0px 0px 3px 0;" src="~/Content/images/requestInfo.ico" />
                            </button>
                        }*@
                    @if (Model.RequestInfoModal)
                    {
                        <li id="ri-bottom" data-toggle="modal" data-target="#myModal"><i title="Request Info" class="fa fa-envelope-o" aria-hidden="true" style="font-size:18px; color:#fff;"></i></li>
                    }
                </ol>
            </div>
        </div>
    }

    <div id="flyoutPanel" style="top:0px">
        <div class="panelCarousel">
            <div class="carouselButtonPanel">
                <div class="refine">
                    <button type="button" id="filter-btn" class="filter-main-btn refine-new">

                        <i class="fa fa-filter" style="font-size:16px;"></i>
                        Plan Details
                    </button>
                </div>

            </div>
            <div class="right-sidebar">
                <ul class="nav nav-tabs">
                    <li style="display:none;"><a data-toggle="tab" id="avaibalblePlansTab" href="#menu1">Available Plans on <span>this Homesite</span></a></li>
                    <li class="active"><a data-toggle="tab" id="allPlansTab" data-tabhref="menu2">All Plans in <span>this Community</span> </a></li>
                    <a class="arrowslide"><i class="fa fa-chevron-up" aria-hidden="true" id="listingArrow"></i></a>
                </ul>

                <div class="tab-content">
                    <div id="menu2" class="tab-pane fade in active">
                        <div class="filter-no-result2" id="filter-no-result2-allTab">
                            No results found
                            <br>
                            <button class="show-result2">
                                Show All Results
                            </button>
                        </div>
                        <div class="panel-group" id="allPlans">
                            @foreach (var item in Model.DefaultListingData)
                            {
                                <div class="panel panel-default" id="communityHomes_@item.id">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a data-toggle="collapse" id="collapsable" data-parent="#allPlans" href="#collapse1_@item.id" style="outline:none;">
                                                @if (!String.IsNullOrWhiteSpace(item.defaultImageUrl))
                                                {
                                                    <img src="@item.defaultImageUrl" onerror="this.src='/Content/images/defaultListingImage.gif';" id="communityHomes_image_@item.id" />
                                                }
                                                else
                                                {
                                                    <img src="/Content/images/defaultListingImage.gif" id="communityHomes_image_@item.id" />
                                                }
                                                <div class="plan-info">
                                                    <div class="home-title">
                                                        <h3>@item.name</h3>
                                                        @if (item.type == "S")
                                                        {
                                                            <span class="key-icon">
                                                                <img src="~/Content/images/key-icon.png" />
                                                            </span>
                                                        }
                                                    </div>
                                                    @if (!Model.SuppressPrice)
                                                    {
                                                        if (item.basePrice != 0)
                                                        {
                                                            if (item.type == "P")
                                                            {
                                                                <p id="communityHomes_price_@item.id">
                                                                    From @item.basePrice.Value.ToString("c0")
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p id="communityHomes_price_@item.id">
                                                                    Priced At @item.basePrice.Value.ToString("c0")
                                                                </p>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <p id="communityHomes_price_@item.id">
                                                            </p>
                                                        }
                                                    }
                                                    <ul>
                                                        <li><i class="fa fa-bed" aria-hidden="true"></i>@item.bedrooms Beds</li>
                                                        @if (item.baths != null && item.baths.HasValue)
                                                        {
                                                            <li><i class="fa fa-bath" aria-hidden="true"></i>@item.baths.Value.ToString("0.##") Baths</li>
                                                        }
                                                        @if (item.garage != null && item.garage.HasValue)
                                                        {
                                                            <li><i class="fa fa-car" aria-hidden="true"></i> @item.garage.Value.ToString("0.##") Garage</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapse1_@item.id" class="panel-collapse collapse">


                                        <div class="panel-body " id="custom-transitions_@item.id">
                                            <div class="galleryEffect panel-top">

                                                @{var nonLazy = true;}
                                                @foreach (var image in @item.images)
                                                {
                                                    if (nonLazy)
                                                    {
                                                        <a href="@image.url" title="@image.title">
                                                            <img src="@(image.url+"?width=280")" data-src="@(image.url+"?width=280")" data-loader="@(image.url+"?width=280")" />
                                                        </a>
                                                        nonLazy = false;
                                                    }
                                                    else
                                                    {
                                                        <a href="@image.url" title="@image.title">
                                                            <img style="width:100%" class="lazy" data-src="@(image.url+"?width=280")" data-loader="@(image.url+"?width=280")" />
                                                        </a>
                                                    }
                                                }
                                            </div>
                                            @if (!String.IsNullOrEmpty(item.builderListingUrl) && (isViewMoreDetailsBtn || openLinkInModal))
                                            {
                                                <div class="view-more-details">
                                                    <button href="javascript:void(O)" data-url="@item.builderListingUrl" class="more-details-btn"><i class="fa fa-external-link expand-btn" aria-hidden="true"></i>View More Details </button>
                                                </div>
                                            }
                                            @if (item.interactiveMedias != null && item.interactiveMedias.Count > 0)
                                            {
                                                <div class="isp-int-media">
                                                    <button href="javascript:void(O)" data-listing="@item.id" class="int-media-btn"><i class="fa fa-external-link expand-btn" aria-hidden="true"></i>Interactive Media</button>
                                                </div>
                                            }
                                            <div class="panel-body-footer">
                                                @if (Model.RequestInfoModal)
                                                {
                                                    <span class=" fleft " onclick="setRightGAEvent();" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o" aria-hidden="true" style="font-size:13px; color:#fff;"> </i> REQUEST INFO</span>

                                                }
                                                <span class=" fright exapnd-view"><i class="fa fa-expand" aria-hidden="true" style="font-size:13px; color:#fff; vertical-align:middle;"></i> EXPAND VIEW </span>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade ">
                        <div class="filter-no-result2" id="filter-no-result2-availableTab">
                            No results found
                            <br>
                            <button class="show-result2">
                                Show All Results
                            </button>
                        </div>
                        <div class="panel-group" id="availablePlans">



                        </div>
                    </div>

                </div>

            </div>
        </div>





    </div>
    <script type="text/javascript">
        viewConfiguration.communityConfiguration([]);

        $.each(data, function (intIndex) {
            viewConfiguration.communityConfiguration.push(new color(data[intIndex].ID, data[intIndex].Value,
                data[intIndex].HiddenId, data[intIndex].Configuration.Name, data[intIndex].CommunityID,
                data[intIndex].ConfigurationID, data[intIndex].Configuration.Code, data[intIndex].ActivityState.Code, "", data[intIndex].Configuration.partnerID));
        });

        ko.applyBindings(viewConfiguration, $("#lotColorScheme")[0]);
    </script>

    <div class="modal-dialog modal-dialog-newisp" id="modaldialog" style="display:none">

        <!-- Modal content-->

    </div>

</body>
</html>
