@using BHI.SalesArchitect.Model
@model HelpConfig
@{
    ViewBag.Title = "Help Documentation";
}
<div>
    <div class="row">
        <div class="span6 section-heading">
            <h1>@ViewData["PartnerName"]</h1>
        </div>
        <div class="span6">
            <div class="page-header-btn-group btn-group pull-right">

                @Html.Action("ManageMenu", "Apps")
            </div>
        </div>
    </div>
    <h3 style="text-align:center;margin-bottom: 20px;">Help & Documentation</h3>
    <ul id="isp-help-ul">
        @for(var i = 0; i < Model.Documents.Count; i++)
        {
            <li style="color: #6dbae2; font-size: 20px;padding-left: 10px;margin-bottom: 25px;">
                <div style="">
                    <a href="~/Content/HelpDocumentation/@Model.Documents[i].FileName" target="_blank" style="font-size: 16px; color: #6dbae2; font-weight: bold;cursor: pointer;">
                        @Model.Documents[i].Title
                        <img src="~/Content/images/ic_external_link.svg" alt="external-link" style="margin-top: -12px; width: 12px; height: max-content;" />
                    </a>
                    <div style="display: inline-flex; gap: 5px; margin-left: 15px;">
                        <span style="font-size: 12px; font-weight: lighter; color: #808080;">Updated</span>
                        <span style="font-size: 12px; font-weight: bold; color: #000;">@Model.Documents[i].DateUpdated</span>
                    </div>
                </div>
                <div style="font-size: 14px; color: #000;">
                    @Model.Documents[i].Description
                </div>
            </li>
        }
    </ul>
</div>